<footer class="footer">
  <small>
    <a href='http://ec2-54-200-38-241.us-west-2.compute.amazonaws.com:8080/static_pages/home'>Green News App</a>
    by Satoru Kafid
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", 'www.google.com' %></li>
      <li><%= link_to "Epikoinwnia", 'mail.google.com' %></li>
      <li><a href='http://ec2-54-200-38-241.us-west-2.compute.amazonaws.com:8080/static_pages/home'>News</a></li>
    </ul>
  </nav>
</footer>
