<footer class="footer">
  <small>
    <a href='http://ec2-54-200-38-241.us-west-2.compute.amazonaws.com:8080/static_pages/home'>Green News App</a>
    by Satoru Kafid
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Epikoinwnia", contact_path %></li>
      <li><a href='www.google.com'>Google</a></li>
    </ul>
  </nav>
</footer>
